
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Louis Berryer">
    <meta name="generator" content="Jekyll v4.1.1">
    <title>Ma Cave</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/jumbotron/">

        <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/docs/4.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

        <!-- Favicons -->
    <meta name="theme-color" content="#563d7c">


    <style>
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    @media (min-width: 768px) {
        .bd-placeholder-img-lg {
        font-size: 3.5rem;
        }
    }
    </style>
    <!-- Custom styles for this template -->
    <link href="https://getbootstrap.com/docs/4.5/examples/jumbotron/jumbotron.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/4.5/examples/grid/grid.css" rel="stylesheet">
    
    <!-- Custom script -->
    <script src="https://unpkg.com/ml5@latest/dist/ml5.min.js"></script>
    <!-- Custom script -->
    <script src="js/ejs.min.js"></script>
    <script src="js/camera.js"></script>
    <script src="js/bottle_card.js"></script>
    <script src="js/modal_bottle.js"></script>
</head>

