

<!-- Create a list of cards for each bottles -->
<div class="container" >  
    <div class="container-flex justify-content-center" id="container_bottles">    
        <div class="row ">
            <script>createBottleCard(<%-JSON.stringify(bottles)%>)</script>
        </div>
    </div>
</div> <!-- /container -->
