<!-- Modal -->
<div class="modal fade" id="modalModifyForm" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-modify-title" id="myModalLabel">Modification d'une bouteille de <%= bottleType%></h4>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
            </div>
            
    
    
            <!-- Modal Body -->
            <div class="modal-body" style="height: 80vh;" >
                <p class="statusModalModifyMsg"></p>
                <form role="form" method="POST" action="add">
                    <div class="form-group">
                        <label for="inputName">Nom</label>
                        <input type="text" readonly class="form-control" id="inputModifyName" placeholder="Nom de la bouteille" value=""/>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="inputAge">Age</label>
                                <input type="number" class="form-control" id="inputAge" placeholder="0" value=""/>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="inputAlcool">Alcool(%)</label>
                                <input type="number" class="form-control" id="inputAlcool" placeholder="40%" value=""/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputDistillerie">Nom du domaine</label>
                        <input type="text" class="form-control" id="inputModifyDistillerie" placeholder="Nom du domaine" value=""/>
                    </div>
                    <div class="form-group">
                        <label for="inputName">Adresse</label>
                        <input type="text" class="form-control" id="inputModifyAddress" placeholder="Adresse du domaine" value=""/>
                    </div>
                    <div class="form-group">
                        <label for="inputMessage">Message</label>
                        <textarea class="form-control" id="inputModifyMessage" placeholder="Message"></textarea>
                    </div>
                </form>
            </div>
            
            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-dark submitBtn" onclick="modalModifyBottle()">Modifier</button>
            </div>
        </div>
    </div>
</div>