<nav class="navbar navbar-dark bg-dark fixed-top ">
    <div class="container-fluid">
        <div class="nav navbar-nav navbar-left">
            <a class="navbar-brand" href="/">Home <span class="sr-only">(current)</span></a>
        </div>
        <div class="nav navbar-nav navbar-right">
            <form class="navbar-form" autocomplete="off" role="search">
                <div class="autocomplete" style="width:200px;">
                    <input id="myInput" type="text" name="" onkeydown="search()" placeholder="Search">
                </div>
            </form>
        </div>
    </div>
</nav>
