<!DOCTYPE html>
<html lang="fr">
    <%- include('../partials/header.ejs') %>
    <body>
        <%- include('../partials/nav.ejs') %>
        <%- body %>
    </body>
    <%- include('../partials/footer.ejs') %>
</html>