<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        </br>
        <h1 class="display-3">Ma Cave</h1>
        <p>Cette application te servira à choisir et gérer tes whiskies ou tes vins </p>
    </div>
</div>

<div class="container d-flex">
    <div id="map">
        <!-- Ici s'affichera la carte -->
    </div>
</div> <!-- /container -->

